{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SelfStorage - Аренда складов индивидуального хранения в Воронеже</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Self-Storage</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#about">Кто мы</a></li>
          <li><a class="nav-link scrollto" href="#services">Наши услуги</a></li>
          <li><a class="nav-link scrollto" href="#boxes">Арендовать бокс</a></li>
          <li><a class="nav-link scrollto" href="#storage">Ближайший склад</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Добро пожаловать в <strong>SelfStorage</strong></h3>
      <h1>Аренда складов индивидуального хранения в Воронеже</h1>
      <h2>Выберите ближайший к вам склад и арендуйте бокс для хранения ваших вещей!</h2>
      <a href="#boxes" class="btn-get-started scrollto">Арендовать бокс</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Кто мы</h2>
          <h3>Сдаем в аренду <span>мини-склады</span> для индивидуального хранения вещей </h3>
          <p>Доверьте нам ваши личные вещи, которые временно не нужны вам дома или в офисе.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <!-- <p>
              С нами всё самое ценное дождётся вас в целости и сохранности:
            </p> -->
            <ul>
              <li><i class="ri-check-double-line"></i> <b>24/7</b> <br> Доступ в любое время дня и ночи, круглосуточная охрана.</li>
              <li><i class="ri-check-double-line"></i> <b>Точные сроки</b> <br> Выберите точный срок, на который вам нужен склад: от 1 недели до бесконечности.</li>
              <li><i class="ri-check-double-line"></i> <b>Свобода действий</b> <br> Управляйте процессом в любое время суток и оформляйте «в три клика» аренду на нашем сайте.</li>
              <li><i class="ri-check-double-line"></i> <b>Любые размеры</b> <br> Объединив несколько боксов, вы можете создать для себя склад необходимого размера. Минимальный размер бокса – всего 1м³.</li>
              <li><i class="ri-check-double-line"></i> <b>Надежно</b> <br> Сухой и теплый склад. 5 степеней безопасности для ваших вещей.</li>
              <li><i class="ri-check-double-line"></i> <b>Удобно</b> <br> Широкие проезды, удобные тележки, погрузчики и лифты – даже хрупкие девушки справятся легко.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Воспользуйтесь личным складом на время переезда или долгого путешествия, для хранения велосипеда зимой и лыж – летом. Храните архивные документы или используйте склад для своего интернет-магазина. С нами всё самое ценное дождётся вас
              в целости и сохранности.
            </p>
            <a href="#" class="btn-learn-more">Арендовать бокс</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Наши услуги</h2>
          <h3>Выберите нужный вам <span>Сервис</span></h3>
          <p>С нами всё самое ценное дождётся вас в целости и сохранности.</p>
        </div>

        <div class="row">
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Индивидуальное хранение</a></h4>
              <p class="description">
                <i class="bx bx-check"></i> На время переезда <br>
                <i class="bx bx-check"></i> На время ремонта <br>
                <i class="bx bx-check"></i> На время отпуска <br>
                <i class="bx bx-check"></i> Детские вещи <br>
                <i class="bx bx-check"></i> Мебель <br>
                <i class="bx bx-check"></i> Памятные вещи</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Хранение для юридических лиц</a></h4>
              <p class="description">
                <i class="bx bx-check"></i> Ценные вещи <br>
                <i class="bx bx-check"></i> Документы и архивы <br>
                <i class="bx bx-check"></i> Товары
              </p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-cloud-rain"></i></div>
              <h4 class="title"><a href="">Сезонное хранение</a></h4>
              <p class="description">
                <i class="bx bx-check"></i> Спортивный инвентарь <br>
                <i class="bx bx-check"></i> Дачный инвентарь <br>
                <i class="bx bx-check"></i> Шины <br>
                <i class="bx bx-check"></i> Зимние вещи <br>
                <i class="bx bx-check"></i> Летние вещи <br>
                <i class="bx bx-check"></i> Сезонные вещи
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Boxes Section ======= -->
    <section id="boxes" class="boxes">
      <div class="container">

        <div class="section-title">
          <h2>Арендовать бокс</h2>
          <h3>Выберите и арендуйте интересующий вас <span>Бокс</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="boxes-flters">
              <li data-filter="*" class="filter-active">Все</li>
              <li data-filter=".filter-cheap">Дешего и сердито</li>
              <li data-filter=".filter-biggest">Нужно много места</li>
              <li data-filter=".filter-special">Специальные предложения</li>
            </ul>
          </div>
        </div>

        <div class="row boxes-container">

          <div class="col-lg-4 col-md-6 boxes-item filter-cheap">
            <img src="{% static 'img/boxes/1-mini.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Мини</h4>
              <p>1 – 1 м²</p>
              <p>Высота: 1 м</p>
              <p>Цена: от <b>1200 руб/мес</b></p>
              <a href="{% static 'img/boxes/1-mini.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 boxes-item filter-cheap">
            <img src="{% static 'img/boxes/2-standart.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Стандартные</h4>
              <p>1 – 5 м²</p>
              <p>Высота: от 2 м</p>
              <p>Цена: от <b>1760 руб/мес</b></p>
              <a href="{% static 'img/boxes/2-standart.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 boxes-item filter-biggest">
            <img src="{% static 'img/boxes/3-big.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Большие</h4>
              <p>5 – 10 м²</p>
              <p>Высота: 2 м</p>
              <p>Цена: от <b>8800 руб/мес</b></p>
              <a href="{% static 'img/boxes/3-big.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 boxes-item filter-biggest">
            <img src="{% static 'img/boxes/4-nodimensions.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Безразмерные</h4>
              <p>От 10 м²</p>
              <p>До бесконечности</p>
              <p>Цена: <b>по запросу</b></p>
              <a href="{% static 'img/boxes/4-nodimensions.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 boxes-item filter-cheap">
            <img src="{% static 'img/boxes/5-oversized.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Негабаритные</h4>
              <p>1,5 – 3 м²</p>
              <p>Высота: 1 м</p>
              <p>Цена: от <b>1800 руб/мес</b></p>
              <a href="{% static 'img/boxes/5-oversized.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 boxes-item filter-special">
            <img src="{% static 'img/boxes/6-antresol.png' %}" class="img-fluid" alt="">
            <div class="boxes-info">
              <h4>Антресольные</h4>
              <p>1,5 – 2 м²</p>
              <p>Высота: 1 м</p>
              <p>Цена: от <b>1500 руб/мес</b></p>
              <a href="{% static 'img/boxes/6-antresol.png' %}" data-gallery="boxesGallery" class="boxes-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="boxes-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Boxes Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>У вас остались вопросы?</h3>
          <p> Если у вас остались какие-либо вопросы, оставьте заявку и наш специалист свяжется с вами в течение часа!</p>
          <a class="cta-btn" href="#">Позвоните мне</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="storage" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Наши склады</h2>
          <h3>Выберите <span>ближайший к вам</span> склад</h3>
          <p>Найдите ближайший к вам склад на карте, или заполните форму ниже, чтобы мы вам его порекомендовали.</p>
        </div>

        <div>
          {{map|safe}}
        </div>

        <div class="row mt-5">

          <div id="contact" class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Место нахождения офиса по работе с клиентами:</h4>
                <p>Воронеж, ул. Воронежская 999</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>self-storage@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>+8 (999) 999-99-99</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Широта" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Долгота" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Срок аренды бокса" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Необходимый размер и параметры бокса" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение отправлено. Спасибо!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Учебный проект Devman</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <a href=""> Пользовательское соглашение</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Livereload script for local development -->
  <script src="http://localhost:35729/livereload.js"></script>

</body>

</html>
