<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Стоимость хранения</title>
</head>
<body>

  <table border="1" class="table_sort" width="550">
    <caption class="tables_caption"><b>Цены на хранение сезонных вещей</b></caption>
    <thead>
        <tr>
            <th>Вещь</th>
            <th>Стоимость аренды</th>
        </tr>
    </thead>
    <tbody>
        {% for thing, costs in things_map_costs.items %}
        <tr>
            <td rowspan="2">{{ thing }}</td>
            <td>{{ costs | slice:"1" }}</td>
        </tr>
        <tr>
            <td>{{ costs | slice:"2" }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Далее">
  </form>

  <form action="{% url 'storage-places' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Назад">
  </form>


</body>
</html>
